# Apache configuration file (see https://httpd.apache.org/docs/current/mod/quickreference.html)

# Grant all access permissions
Require all granted

# Disable directory listing for security reasons
<IfModule mod_autoindex.c>
	Options -Indexes
</IfModule>

# Enable pretty URLs (removing the need for "index.php" in the URL)
<IfModule mod_rewrite.c>
	RewriteEngine On

	# Uncomment the next line if you want to set the base URL for rewrites
	# RewriteBase /

	# Force usage of HTTPS (secure connection). Uncomment if you have SSL setup.
	# RewriteCond %{HTTPS} !on
	# RewriteRule .? https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

	# Prevent access to files that start with a dot (like .htaccess or .git)
	# Exception made for ".well-known" directory used for domain verification and other protocols
	RewriteCond %{REQUEST_FILENAME} -f
	RewriteRule /\.|^\.(?!well-known/) - [F]

	# Front controller pattern - All requests are routed through index.php
	# unless the requested file or directory exists or the request is for a specific filetype
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule !\.(pdf|js|mjs|ico|gif|jpg|jpeg|png|webp|svg|css|rar|zip|7z|tar\.gz|map|eot|ttf|otf|woff|woff2)$ index.php [L]
</IfModule>

# Enable gzip compression for faster load times
<IfModule mod_deflate.c>
	<IfModule mod_filter.c>
		# Specify the file types to compress
		AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript application/json application/xml image/svg+xml
	</IfModule>
</IfModule>
