<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Minimal Web Project</title>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}
</body>
</html>
